/*UI - NAV*/
.navbar {
  margin-bottom : 40px;
}

/*UI - MENU*/
/*Styles for menu images*/
.menu-drink-img{
  width: 25%;
  margin-right: 2%;
  border: 2px black solid;
  border-radius: 5px;
}

.clearfix {
  overflow: auto;
}

/*UI - LOCATIONS*/
/*Search input underline color*/
.map-container {
  width     : 100%;
  max-width : 100%;
  height    : 500px;
}

/*GLOBAL*/
.primary-color {
  background-color : #42A5F5; /*blue lighten-1*/
}

.secondary-color {
  background-color : #9CCC65; /*light-green lighten-1*/
}

.accent-color {
  background-color : #2979FF; /*blue accent-3*/
}

.rounded-corners {
  border-radius : 4px;
}

.input-field input[type=text]:focus {
  border-bottom : 1px solid #9CCC65;
}

.input-field input[type=email]:focus {
  border-bottom : 1px solid #9CCC65;
}

.input-field input[type=password]:focus {
  border-bottom : 1px solid #9CCC65;
}