<template name="layoutsPartialsNav">
  <div class="navbar-fixed navbar">
    <nav class="primary-color">
      <div class="container">
        <div class="nav-wrapper">
          <a href="{{pathFor 'homeIndex'}}"
             class="brand-logo left">Quick Coffee</a>
          <ul class="hide-on-small-and-down right">
            <li><a href="{{pathFor 'locationsIndex'}}">Locations</a></li>
            <li><a href="{{pathFor 'signinIndex'}}">Sign In</a></li>
            <li><a href="{{pathFor 'registerIndex'}}">Register</a></li>
          </ul>
          <!--Mobile-->
          <a href="#" data-activates="mobile-demo"
             class="button-collapse right"><i
            class="hide-on-med-and-up material-icons right">menu</i></a>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="{{pathFor 'locationsIndex'}}">Locations</a></li>
            <li><a href="{{pathFor 'signinIndex'}}">Sign In</a></li>
            <li><a href="{{pathFor 'registerIndex'}}">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>