<template name="layoutsPartialsNav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'homeIndex'}}">Quick Coffee</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="{{pathFor 'locationsIndex'}}">Locations</a></li>
          <li class="active">
            <a href="{{pathFor 'signinIndex'}}">Sign In</a></li>
          <li class="active">
            <a href="{{pathFor 'registerIndex'}}">Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>